---
interface Props {
  label: string;
  placeholder: string;
  id: string;
  type: "text" | "email" | "number" | "password" | "tel";
  name: string;
  required?: boolean;
  props?: any;
}

const {
  label,
  id,
  placeholder,
  type = "text",
  name,
  required = false,
  props = {},
} = Astro.props;
---

<div class="flex flex-col">
  <label class="">{label}</label>
  <input
    class="rounded-md p-2"
    type={type}
    placeholder={placeholder}
    id={id}
    name={name}
    required={required}
    {...props}
  />
</div>
